body {
  background-color: #a393eb;
  font-family: "Playwrite AU NSW", cursive;
}

.container {
  background: #f5c7f7;
  max-width: 600px;
  border-radius: 10px;
  padding: 20px;
  margin: 50px auto;
  box-shadow: 8px 14px 13px rgba(0, 0, 0, 0.4);
}

.enter-city {
  background-color: rgb(244, 238, 255, 0.8);
  font-size: 16px;
  font-family: "Playwrite AU NSW", cursive;
  border-radius: 10px;
  width: 80%;
  padding: 6px;
}
.submit-button {
  background-color: #ad56cd;
  color: white;
  font-family: "Playwrite AU NSW", cursive;
  border-radius: 10px;
  padding: 6px;
  width: 15%;
}
footer {
  font-size: 12px;
  text-align: center;
  padding: 15px 0 0;
}
.forecast {
  display: flex;
  justify-content: space-between;
}
.forecast-city {
  font-size: 40px;
  margin-top: 20px;
}
.forecast-details {
  color: gray;
}
.forecast-details strong {
  color: red;
}
.forecast-right-side {
  display: flex;
  margin-top: 20px;
}
.forecast-temperature {
  font-size: 70px;
  font-weight: 800;
}
.forecast-emoji {
  font-size: 50px;
  margin-top: 10px;
}
.forecast-temperature-sign {
  font-size: 20px;
  font-weight: 800;
}
